:root{
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}

/* For Heading Section */
#subheader{
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    padding: 50px 100px 50px 100px;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 7px;
    color: white;
}
/* For Heading Section */

/* About the site section start */

.name{
    display: flex;
    flex-wrap: wrap;
}

#section-call-to-action {
    background: linear-gradient(#fe5b3d, #ffac38);
    background-size: cover;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    
    display: flex;
    
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2)
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: -1.8px;
    line-height: 50px;
}
.text-sm-center {
    margin-left: 40%;
    text-align: center!important;
}
.phone-num-big {
    color: #ffffff;
}
.pnb-text {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.pnb-num {
    display: block;
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
a.btn-main{
    display: inline-block;
    font-family: var(--title-font);
    text-align: center;
    color: #fff;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 4px 30px 4px 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    
    -webkit-border-radius: 5px;
    background: #474fa0;
}
.phone-num-big i {
    font-size: 48px;
    display: block;
}

/* Feature highlights */
section {
    padding: 80px 0 80px 0;
    position: relative;
}

.box-icon.s2 i {
    position: absolute;
    font-size: 32px;
    width: 54px;
    height: 54px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background: #fe5b3d;
}
.box-icon.s2 .d-inner {
    padding-left: 70px;
    padding-bottom: 45px;
}
.box-icon h4 {
    font-size: 17px;
    margin-bottom: 3px;
    line-height: 26px;
    font-weight: 600;
    color: #031B4E;
}
.box-icon.s2.d-invert i {
    right: 140px;
    
}
.left{
    text-align: right;
}
.col-lg-6{
    
    justify-content: center;
    align-items: center;
    height: auto;
}
.jarallax {
    background: url(img/8.jpg) ;
    background-size: cover;
    
}

/* for Board of directors */
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 990px;
}
.text-center {
    text-align: center!important;
}
.mb30 {
    margin-bottom: 30px;
    width: 244px;
}
.f-profile {
    margin-bottom: 0px;
    font-size: 14px;
}
.fp-wrap {
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}
.fpw-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.f-invert .fpw-overlay-btm {
    opacity: 0;
}
.fpwo-wrap {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.fpwow-icons {
    display: inline-block;
    padding: 5px 10px 7px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.fpwow-icons a {
    color: #ffffff;
    padding: 0 5px 2px 5px;
    margin: 2px;
    width: 28px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fe5b3d;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.f-profile h4 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;

}
.f-profile p{
    color: #fff;
}

.height{
    height: 100%;
}
.spacer-20 {
    width: 100%;
    height: 20px;
    display: block;
    clear: both;
}
.col-lg-6 img{
    padding-left: 300px;
}
.id-color{
    color: #fe5b3d;
}
.g-5, .gy-5 {
    --bs-gutter-y: 3rem;
    --bs-gutter-x: 3rem;
}
.col-md-3 {
    width: 25%;
}
.de_count {
    font-size: 16px;
    background: #dbd6d6;
    padding: 30px 20px 20px 30px;
    color: #35404e;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 10px;
}
.de_count h3 {
    font-size: 40px;
    letter-spacing: .1px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1em;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}